body {
    margin: auto;
    background-color: blueviolet;
}

.container {
    width: 90%;

}

.head {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.head div {
    background-color: brown;
    height: 150px;
    width: 150px;
    color: brown;
    border: 1px solid yellow;
    al
}